body {
    font-size: 16px; /* Adjust the base font size */
}

#fst {
    color: blue;
    background-color: grey
}

#snd {
    color: grey;
}

#main-content {
    margin-top: 200px; /* Add some margin for better spacing */
}

#test {
    transition: color 0.3s ease;
    font-size: 1.8em; /* Increase the font size */
    margin-bottom: 10px; /* Add some margin for better spacing */
}

#gameSubmit {
    font-size: 1.8em; /* Increase the font size of the button */
}

#count, #nextSymbol {
    font-size: 1.8em; /* Increase the font size of these elements */
    margin-top: 10px; /* Add some margin for better spacing */
}

.user-container {
    margin-bottom: 20px;
}

/* Style for the container in the right top corner */
#nameContainer {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    margin-right:150px;
    background-color: #f0f0f0;
}
/* Style for the container in the right top corner */
#logoffButton {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #f0f0f0;
}
.progress-bar {
    width: 100%;
    height: 30px;
    background-color: aliceblue;
    margin-top: 10px;
}

.progress {
    height: 100%;
    text-align: center;
    line-height: 30px;
    color: white;
    background-color: darkblue;
}